{% extends "admin/index.html" %}
{% block body %}

<form action="/myapp/adddress_POST/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table  class="table table-bordered">
    <tr>
      <td width="180px">Dress Name</td>
      <td><input type="text" name="textfield4" id="textfield4" required class="form-control"/>
      <td>
    </tr>
    <tr>
      <td>Dress photo</td>
      <td>
      <input type="file" name="fileField" id="fileField" class="form-control" required /></td>
    </tr>
    <tr>
      <td>Dress description</td>
      <td><textarea name="textarea" id="textarea" cols="45" rows="5" required class="form-control"></textarea></td>
    </tr>
    <tr>
      <td>Category</td>
      <td>
        <select name="select" id="select" required class="form-control">
            {% for i in dt %}
            <option value="{{ i.id }}">{{ i.catname }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>Skintone</td>
<td class="checkbox-container">
    <input type="radio" name="checkbox"  value="tone1"/>
    <label for="radio"><span style="color: #3b2219"><b>Tone 1</b></span></label><br>
    <input type="radio" name="checkbox"  value="tone2"/>
    <label for="radio"><span style="color: #a16e4b"><b>Tone 2</b></span></label><br>
    <input type="radio" name="checkbox"  value="tone3"/>
    <label for="radio"><span style="color: #d4aa78"><b>Tone 3</b></span></label><br>
        <input type="radio" name="checkbox"  value="tone4"/>
    <label for="radio"><span style="color: #e6bc98"><b>Tone 4</b></span></label><br>
        <input type="radio" name="checkbox"  value="tone5"/>
    <label for="radio"><span style="color: 	#ffe7d1"><b>Tone 5</b></span></label><br>
</td>
  </tr>
    <tr>
      <td>GENDER</td>
      <td><select name="select2" id="select2" required class="form-control">
          <option>UNISEX</option>
      <option>MALE</option>
      <option>FEMALE</option>
      </select></td>
    </tr>
     <tr>
      <td>BODY TYPE</td>
      <td><select name="select3" id="select3" required class="form-control">
          <option>ALL</option>
          <option>SKINNY</option>
      <option>MEDIUM</option>
      <option>CURVY</option>
      </select></td>
    </tr>
      <tr>
      <td>Occassions</td>
<td class="checkbox-container">
    <input type="checkbox" name="occassions"  id="occassions" class="form-control" value="Casuals"/>
    <label for="checkbox">Casuals</label><br>
   <input type="checkbox" name="occassions"  id="occassions" class="form-control" value="Formals"/>
    <label for="checkbox">Formals</label><br>
     <input type="checkbox" name="occassions"  id="occassions" class="form-control" value="Partywear"/>
    <label for="checkbox">Partywear</label><br>
</td>
  </tr><tr><td>Price</td>
      <td><input type="text" name="tf1" required></td></tr>
    <tr>
        <td></td>

      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}
{#Cool: If ‘cool’ colors like blue, black, white, purple, etc. compliment you then you have cool undertones.#}
{#Warm: If peach, yellow, brown, olive and other ‘warm’ colors suit you then you have warm undertones.#}
{#Neutral: If you think you look good in every and any shade you wear, well then, lucky you! You have a neutral undertone.#}