{% extends "admin/index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="/myapp/send_repy_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>Response</td>
        <td><textarea class="form-control" required name="reply"></textarea></th>
    </tr>
      <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="Send" class="btn btn-success" /></td>
    </tr>
  </table>
<br>
<br>
</form>
    {% endblock %}