{% extends "user/index.html" %}
{% block body %}


<form action="/myapp/profile_update_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table  class="table table-bordered">
      <tr>

    <td colspan="2" align="center"><img src="{{ data.photo }}" width="150px" height="150px"/></td>
  </tr>
  <tr>
    <td width="180px">Name</td>
    <td>  <input type="text" name="fullname" placeholder="Full Name"  class="form-control" required value="{{ data.name }}"/></td>
  </tr>
         <tr>
    <td width="180px">Gender</td>
    <td><select name="gender" required class="form-control" style="width: 100%">

                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Other</option>
                                        </select></td>
  </tr>
     <tr>
    <td width="180px">Phone</td>
    <td> <input type="tel" name="phone" placeholder="Phone" class="form-control" required value="{{ data.phone }}"/></td>
  </tr>
         <tr>
    <td width="180px">Email</td>
    <td><input type="email" name="email" placeholder="Email" class="form-control" required value="{{ data.email }}"/></td>
  </tr>
         <tr>
    <td width="180px">Photo</td>
    <td><input type="file" name="photo" accept="image/*"  class="form-control"  /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" class="btn btn-success" name="button" id="button" value="Submit" /></td>
  </tr>
</table>
</form>

{% endblock %}
